curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo gpg --dearmor -o /etc/apt/keyrings/docker.gpg

echo \
  "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu \
  $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null

sudo apt-get update -y
sudo apt-get install docker-ce docker-ce-cli containerd.io docker-compose-plugin -y

export PUBLIC_REPO=artifacts.cyralpublic.appspot.com
export GCS_API_ENDPOINT=https://storage.googleapis.com
export DOCKER_COMPOSE_VERSION=1.29.2
export JQ_VERSION=1.6
export BASTION_BOOTSTRAP_VERSION=0.1.1

# Install docker-compose
wget $GCS_API_ENDPOINT/$PUBLIC_REPO/sidecar/docker-compose/$DOCKER_COMPOSE_VERSION/docker-compose-Linux-x86_64
sudo mv docker-compose-`uname -s`-`uname -m` /usr/local/bin/docker-compose
sudo chmod +x /usr/local/bin/docker-compose
sudo ln -s /usr/local/bin/docker-compose /usr/bin/docker-compose
docker-compose --version

# Configure fd limit for ec2 instance and containers
sudo bash -c 'cat > /etc/security/limits.d/fdlimit.conf' << EOF
*       soft  nofile  65535
*       hard  nofile  65535
EOF
#sudo bash -c 'cat > /etc/sysconfig/docker' << EOF
#DAEMON_MAXFILES=65535
#OPTIONS="--default-ulimit nofile=65535:65535"
#DAEMON_PIDFILE_TIMEOUT=10
#EOF
sudo systemctl restart docker

# Install JQ
wget -q $GCS_API_ENDPOINT/$PUBLIC_REPO/sidecar/jq/$JQ_VERSION/jq-linux64
sudo mv jq-linux64 /usr/local/bin/jq
sudo chmod a+x /usr/local/bin/jq
sudo ln -s /usr/local/bin/jq /usr/bin/jq
export PATH=$PATH:/usr/local/bin
jq --version

# wget $GCS_API_ENDPOINT/$PUBLIC_REPO/sidecar/quickstart-linux-bastion/$BASTION_BOOTSTRAP_VERSION/bastion_bootstrap.sh -O /home/adminuser/bootstrap.sh
# chmod a+x /home/adminuser/bootstrap.sh
# function bootstrap () { /home/adminuser/bootstrap.sh  --tcp-forwarding true --public-gcp-repo $PUBLIC_REPO --gcs-api-endpoint $GCS_API_ENDPOINT; }
# retry bootstrap
# sudo service sshd restart

# Configure cloudwatch
# TODO define logs

# echo "Fetching public hostname..."
export STATUS_CODE=$(curl -o instance-id.txt -w "%%{http_code}\n" -s http://169.254.169.254/latest/meta-data/instance-id -m 10)
if [ $STATUS_CODE -eq 200 ]; then
  export INSTANCE_ID=$(cat instance-id.txt)
else
  export INSTANCE_ID=$HOSTNAME
fi
echo "Setting INSTANCE_ID to '$INSTANCE_ID'"

export NGINX_RESOLVER=$(cat /etc/resolv.conf | grep nameserver | awk '{print $2}')
echo "Setting NGINX_RESOLVER to '$NGINX_RESOLVER'"

echo "Fetching secrets..."
mkdir -p /home/adminuser/cyral/

# Install Azure CLI
curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
# sudo apt-get install ca-certificates curl apt-transport-https lsb-release gnupg -y
# curl -sL https://packages.microsoft.com/keys/microsoft.asc |
#     gpg --dearmor |
#     sudo tee /etc/apt/trusted.gpg.d/microsoft.gpg > /dev/null
# AZ_REPO=$(lsb_release -cs)
# echo "deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ $AZ_REPO main" |
#     sudo tee /etc/apt/sources.list.d/azure-cli.list
# sudo apt-get update -y
# sudo apt-get install azure-cli -y


echo "Initializing environment variables..."

cat > /home/adminuser/.env << EOF
SIDECAR_ID=${sidecar_id}
CONTROLPLANE_HOST=${controlplane_host}
CONTAINER_REGISTRY=${container_registry}
LOG_INTEGRATION=${log_integration}
METRICS_INTEGRATION=${metrics_integration}
HCVAULT_INTEGRATION_ID=${hc_vault_integration_id}
EOF

az login --identity

SIDECAR_CLIENT_ID=$(az keyvault secret show --vault-name cyral-sidecar-key --name cyral-sidecars-2GSU5allmcQUGR76xd4LB2nRGTm-self-signed-certificate --query value -o tsv | jq -r .clientId)
SIDECAR_CLIENT_SECRET=$(az keyvault secret show --vault-name cyral-sidecar-key --name cyral-sidecars-2GSU5allmcQUGR76xd4LB2nRGTm-self-signed-certificate --query value -o tsv | jq -r .clientSecret)

# echo "Downloading sidecar.compose.yaml..."
# function get_token () {
#   local url_token="${protocol}://${controlplane_host}:$1/v1/users/oidc/token"
#   token=$(${curl} --fail --no-progress-meter --request POST "$url_token" -d grant_type=client_credentials -d client_id="$${SIDECAR_CLIENT_ID}" -d client_secret="$${SIDECAR_CLIENT_SECRET}" 2>&1)
#   token_error=$(echo $?)
# }

# function download_sidecar () {
#   # Test default (443) and then 8000
#   get_token "443"
#   if [[ $token_error -ne 0 ]]; then
#     get_token "8000"
#     if [[ $token_error -ne 0 ]]; then
#       return 1
#     fi
#   fi
#   local access_token=$(echo "$token" | jq -r .access_token)
#   local url="${protocol}://${controlplane_host}/deploy/docker-compose?TemplateVersion=${sidecar_version}&TemplateType=terraform&LogIntegration=${log_integration}&MetricsIntegration=${metrics_integration}&HCVaultIntegrationID=${hc_vault_integration_id}&WiresEnabled=${repositories_supported}"
#   echo "Trying to download the sidecar template from: $url"
#   if [[ $(${curl} -s -o /home/ec2-user/sidecar.compose.yaml -w "%%{http_code}" -L "$url" -H "Authorization: Bearer $access_token") = 200 ]]; then
#     return 0
#   fi
#   return 1
# }
# retry download_sidecar

unset SIDECAR_CLIENT_ID
unset SIDECAR_CLIENT_SECRET